/* Header + Banner + Nav */

/* Header */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
header .logo h1,
header .logo a
{
    display: inline-block;
    margin: 0%;
}
.logo a img{
    max-width: 5rem;
    height: auto;
    border-radius: 50%;
}
.logo h1{
    color: aliceblue;
}

/* Banner */
.banner img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.welcome{
    display: flex;
    justify-content: center;
}
.welcome h3{
    color: aliceblue;
}

/* Nav Bar */
nav{
    position: sticky;
    top: 80px;
    z-index: 1;
}
nav ul li{
    text-decoration: none;
    display: inline-block;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0%;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Main + Form + Footer */

/* Main */
.row img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
article img{
    object-fit: cover;
    max-width: 50%;
    height: auto;
}

/* Form */
input{
    display: inline-block !important;
}

/* Footer */
.copywrite{
    color: aliceblue;
}

/* Pseudo Classes */

nav ul li a:hover {
    color: rgb(53, 53, 53);
}
.row img:hover{
    position: relative;
    top: -10px;
}
form input:hover{
    border: 2px solid red;
    outline: none;
}
form input:valid{
    border: 2px solid greenyellow;
}
header h1:hover{
    /* color: rgb(207, 207, 207); */
    position: relative;
    top: 6px;
}
article img:hover{
    position: relative;
    top: -10px;
}

/* Pseudo Elements */
p::selection{
    background-color: rgba(0, 128, 0, 0.664);
    color: aliceblue;
}

/* Media Query */
@media screen and (max-width: 650px){
    header{
        position: static;
    }
    nav{
        top: 0;
    }
    nav ul li a{
        font-size: 1.2rem;
    }
}