/* Header + Banner + Nav */

/* Header */
header .logo h1,
header .logo a
{
    display: inline-block;
    margin: 0%;
}
.logo a img{
    max-width: 5rem;
    height: auto;
    border-radius: 50%;
}
.logo h1{
    color: aliceblue;
}

/* Banner */
.banner img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.welcome{
    display: flex;
    justify-content: center;
}
.welcome h3{
    color: aliceblue;
}

/* Nav Bar */
nav ul li{
    text-decoration: none;
    display: inline-block;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0%;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
}
nav ul li a:hover {
    color: rgb(53, 53, 53);
  }

/* Main + Form + Footer */

/* Main */
.row img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

/* Form */

/* Footer */
.copywrite{
    color: aliceblue;
}